.benefits {
    display: flex;
    text-align: center;
    max-width: 1600px;
    width: 90%;
    grid-gap: 20px;
    margin: 10px auto 30px auto;
}

.why-turners-container h1.heading {
    padding: 40px 0 20px 40px;
}

@media only screen and (max-width: 1600px) {

      .benefits img {
        width: 100%;
    }
      
      .benefits {
        display: flex;
        text-align: center;
      }
      
}