.family-plan-container {
    background: #F5F5F5;
}

.family-plan-content {
    height: 750px;
}

.family-plan-img img {
    max-width: 1600px;
}

.btn-container {
    text-align: center;
}

.family-plan-img img {
    max-width: 1600px;
}

img.home-img {
    position: relative;
    float: right;
    width: 25%;
    bottom: 9em;
}

.bottom-container {
    text-align: center;
}

.text {
    padding: 40px 0 20px 40px;
}

@media only screen and (max-width: 1025px) {
    .family-plan-img img {
        width: 100%;
        max-width: 1024px;
      }
    
      .family-plan-content h1 {
        font-size: 20px;
      }
    
      .family-plan-content p {
        font-size: 14px;
      }
    
      .family-plan-content {
        height: 580px;
    }
}