* {
    font-family: "Open Sans", sans-serif;
}

.header-container {
  display: block;
  padding: 0 40px 25px 40px;
}

.logo-container {
  float: left;
  padding: 20px;
}

.header-content {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 100px;
}

ul {
  list-style: none;
}

.content {
  display: block;
}

ul.left-menu {
  float: left;
  color: white;
  padding: 0 0 0 38px;
}

ul.right-menu {
  float: right;
  color: white;
  padding-right: 38px;
}

.main-menu {
  float: left;
  width: 100%;
  background: #0076be;
  text-align: left;
  position: relative;
  margin-top: -3px;
  z-index: 100;
}

.right-menu li,
.left-menu li {
  float: left;
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
}

.left-menu li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.account-panel {
  float: left;
  padding-right: 10px;
}

a.phone-number {
  padding-right: 10px;
}

span.or {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
    position: relative;
    bottom: 1px;
}

.search-icon {
  position: absolute;
  left: 25px;
  top: 15px;
  color: white;
}

.phone-icon,
.location-icon,
.person-icon {
  position: relative;
  top: 6px;
  color: #0076be;
  width: 28px;
}

.person-icon {
  padding-right: 10px;
}

ul.dropdown {
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  min-width: 160px;
  padding: 0;
  z-index: 1;
}

.dropdown.show {
  display: flex;
  flex-flow: column;
  border-radius: 10px 0 0 10px;
  top: 53px;
}

.dropdown .menu-items a {
  color: #004681;
}

ul.dropdown.dropdown-submenu.show {
  position: absolute;
  left: 345px;
  width: 100%;
  top: 0px;
  background-color: #A7C3DA;
}

.dropdown.dropdown-submenu a{
  color: #FFFFFF;
}

.dropdown.show .menu-items {
  border-bottom: 1px solid white;
  width: 320px;
  height: 50px;
  text-align: left;
  line-height: 3;
  padding-left: 25px;
}

.dropdown.show {
  display: flex;
  flex-flow: column;
  border-radius: 10px 0 0 10px;
}

.dropdown.dropdown-submenu {
  border-radius: 0 10px 10px 0;
}

.dropdown.show .menu-items:hover {
  background-color: #004681;
}

.dropdown.show .menu-items:last-child {
  border-bottom: none;
}

.dropdown.show .menu-items:hover:first-child {
    border-radius: 10px 0 0 0;
}

.dropdown.show .menu-items:hover:last-child {
  border-radius: 0 0 0 10px;
}

.dropdown.show .menu-items:hover a{
  color: #FFFFFF;
}

ul.dropdown.dropdown-submenu.show .menu-items:hover {
  background-color: #57A3E2;
}

ul.dropdown.dropdown-submenu.show .menu-items:hover:first-child {
border-radius: 0 10px 0 0;
}

ul.dropdown.dropdown-submenu.show .menu-items:hover:last-child {
  border-radius: 0 0 10px 0;
  }