.testimonial-container {
    text-align: center;
    margin: 40px auto;
    max-height: 700px;
}

.testimonial-container .slick-slider {
    margin-top: 40px;
    margin-bottom: 40px;
}

.testimonial-container .testimonial-img img {
    width: 350px;
    margin: 0 auto;
}

.testimonial-container .quoteIco {
    width: 46px;
    position: relative;
    right: 18em;
    top: 2em;
    margin: 0 auto;
}

.testimonial-container .user-detail {
    font-size: 20px;
}

.swiper {
    padding-bottom: 20px;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,14px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,14px));
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
}


@media only screen and (max-width: 1025px) {
.testimonial-container .testimonial-img img {
    width: 250px;
    margin: 0 auto;
}

.testimonial-text p {
    font-size: 16px;
}

.testimonial-text cite {
    font-size: 16px;
}

.testimonial-text h2 {
    font-size: 22px;
}

.testimonial-container .quoteIco {
    width: 32px;
    position: relative;
    right: 16em;
    top: 2em;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}

.testimonial-container {
    text-align: center;
    margin: 30px auto;
    max-height: 700px;
}
}