.question-container {
    background: #004681;
    text-align: center;
}

.question-text {
    color: white;
    padding-top: 20px;
}

.question-container .contact-us img {
    width: 50px;
    padding: 10px;
}

.question-container .contact-us {
    padding-bottom: 10px;
}