.insurance-container {
  text-align: center;
  border: 1px solid #bdbdbd;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 10%);
}

.list-content {
  display: flex;
  justify-content: flex-end;
  grid-gap: 4em;
  margin-right: 1em;
}

li.item1 {
  background-color: #1078ce;
}

li.item2 {
  background-color: #57a3e2;
}

li.item3 {
  background-color: #a7c3da;
}

.list-content li {
  height: 456px;
  width: 330px;
  left: 0px;
  top: 0px;
  border-radius: 15px;
}

.list-content img {
  width: 330px;
}

.item1 .plan-description,
.item2 .plan-description,
.item3 .plan-description {
  display: none;
}

.item1 .btn-container,
.item2 .btn-container,
.item3 .btn-container {
  display: none !important;
}

.item1:hover .btn-container,
.item2:hover .btn-container,
.item3:hover .btn-container {
  display: block !important;
}

.list-content button.learn-more-btn {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.item1:hover button.learn-more-btn,
.item2:hover button.learn-more-btn,
.item3:hover button.learn-more-btn {
  margin-top: 140px;
  margin-left: 65px;
}

.item1:hover .plan-title,
.item2:hover .plan-title,
.item3:hover .plan-title {
  display: none;
}

.item1:hover .plan-description,
.item2:hover .plan-description,
.item3:hover .plan-description {
  display: block;
}

.item1:hover p,
.item2:hover p,
.item3:hover p {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.item2:hover p {
  margin-top: 60px;
}

.item3:hover p {
  margin-top: 100px;
}

.item1:hover img,
.item2:hover img,
.item3:hover img {
  display: none;
}

.list-content span {
  position: relative;
  top: 20%;
  transform: translate(-50%, -50%);
}

.list-content p {
  font-weight: 700;
  font-size: 26px;
  color: white;
}

table.insurance-table {
  border-collapse: collapse;
  margin-left: 1em;
}

table.insurance-table tr {
  border-bottom: 1px solid #989898;
}

table.insurance-table img {
  width: 71px;
}

table.insurance-table th {
  text-align: left;
  padding-left: 2em;
}

table.insurance-table .second-row {
  padding-left: 0em;
  padding-right: 8em;
}

table.insurance-table .third-row {
  padding-left: 12em;
  padding-right: 8em;
}

table.insurance-table .first-row {
  padding-left: 12em;
  padding-right: 20em;
}

.arrow-ico {
  width: 28px;
}

.up-arrow {
  position: relative;
  top: 5px;
}

.down-arrow {
  position: relative;
  top: 10px;
}

.bottom-insurance {
  text-align: center;
}

.get-quote-btn {
  background: #1078ce;
  border: none;
  color: white;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  width: 200px;
  border-radius: 15px;
}

button.learn-more-btn {
  background: transparent;
  border: 1px solid #57a3e2;
  color: #57a3e2;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  margin-left: 10px;
}

.mechanical-insurance-content {
  display: flex;
  padding-top: 1em;
}

.photo {
  flex: 1;
}

.content {
  flex: 1;
  padding-right: 1em;
}

img.mechanic {
  width: 500px;
}

.mechanical-table {
  border-collapse: collapse;
  margin-left: 6em;
  width: 90%;
}

.mechanical-table tr {
  border-bottom: 1px solid #989898;
}

.mechanical-table tr:last-child {
  border-bottom: none;
}

.mechanical-table th {
  left: 0em;
  position: relative;
  text-align: left;
  padding: 30px 0 30px 0;
}

.car-insurance .policy img {
  width: 38px;
  position: relative;
  top: 12px;
}

.car-insurance .btn-container {
  display: flex;
  justify-content: flex-end;
  grid-gap: 11.5em;
  margin-right: 5em;
}

.car-insurance .policy {
  display: flex;
  justify-content: flex-end;
  margin-right: 6.5em;
  grid-gap: 16em;
}

.car-insurance .feature {
  padding: 20px 0 15px 0;
  font-weight: 700;
}

.bottom-insurance .other-plan {
  padding-bottom: 20px;
}

.bottom-insurance img.mechanical-insurance-ico,
.bottom-insurance img.vehical-insurance-ico {
  width: 40px;
  position: relative;
  top: 10px;
  padding-right: 10px;
}

.bottom-insurance .other-plan span {
  font-weight: 700;
}

@media only screen and (max-width: 1025px) {
  .list-content li {
    border-radius: 15px;
    height: 310px;
    left: 0;
    top: 0;
    width: 200px;
  }

  .list-content img {
    width: 200px;
  }

  .list-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .item1:hover p,
  .item2:hover p,
  .item3:hover p {
    font-weight: 300;
    font-size: 14px;
    color: white;
  }

  button.learn-more-btn,
  .item3:hover button.learn-more-btn {
    margin-top: 100px;
    margin-left: 30px;
    height: 50px;
    width: 150px;
    font-size: 14px;
  }

  .item2:hover p {
    margin-top: 46px;
  }

  .item3:hover p {
    margin-top: 76px;
  }

  .item1:hover button.learn-more-btn,
  .item2:hover button.learn-more-btn,
  .item3:hover button.learn-more-btn {
    margin-top: 100px;
    margin-left: 32px;
  }

  .car-insurance .policy a {
    font-size: 14px;
  }

  table.insurance-table th {
    text-align: left;
    padding-left: 1em;
    font-size: 12px;
  }

  table.insurance-table img {
    width: 54px;
  }

  table.insurance-table .first-row {
    padding-left: 4em;
    padding-right: 13.5em;
  }

  table.insurance-table .second-row {
    padding-left: 0em;
    padding-right: 8em;
  }

  table.insurance-table .third-row {
    padding-left: 5em;
    padding-right: 5em;
  }

  .car-insurance .policy {
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5em;
    grid-gap: 9em;
  }

  .car-insurance .btn-container {
    display: flex;
    justify-content: flex-end;
    grid-gap: 5.5em;
    margin-right: 3em;
  }

  a.features {
    font-size: 14px;
  }

  .arrow-ico {
    width: 24px;
  }

  .get-quote-btn {
    background: #1078ce;
    border: none;
    color: white;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 150px;
    border-radius: 15px;
  }

  .bottom-insurance .other-plan {
    padding-bottom: 20px;
    font-size: 14px;
  }

  .bottom-insurance img.mechanical-insurance-ico,
  .bottom-insurance img.vehical-insurance-ico {
    width: 36px;
    position: relative;
    top: 10px;
    padding-right: 10px;
  }
}