.insurance-container {
  text-align: center;
  border: 1px solid #bdbdbd;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 10%);
}

.list-content {
  display: flex;
  justify-content: flex-end;
  grid-gap: 4em;
  margin-right: 1em;
}

li.item1 {
  background-color: #1078ce;
}

li.item2 {
  background-color: #57a3e2;
}

li.item3 {
  background-color: #a7c3da;
}

.list-content li {
  height: 456px;
  width: 330px;
  left: 0px;
  top: 0px;
  border-radius: 15px;
}

.list-content img {
  width: 330px;
}

.list-content span {
  position: relative;
  top: 20%;
  transform: translate(-50%, -50%);
}

.list-content p {
  font-weight: 700;
  font-size: 26px;
  color: white;
}

table.insurance-table {
  border-collapse: collapse;
  margin-left: 1em;
}

table.insurance-table tr {
  border-bottom: 1px solid #989898;
}

table.insurance-table img {
  width: 71px;
}

table.insurance-table th {
  text-align: left;
  padding-left: 2em;
}

table.insurance-table .second-row
 {
  padding-left: 0em;
  padding-right: 8em;
}

table.insurance-table .third-row {
  padding-left: 12em;
  padding-right: 8em;
}

table.insurance-table .first-row {
  padding-left: 12em;
  padding-right: 20em;
}

.arrow-ico {
  width: 28px;
}

.up-arrow {
  position: relative;
  top: 5px;
}

.down-arrow {
  position: relative;
  top: 10px;
}

.bottom-insurance {
  text-align: center;
}

.get-quote-btn {
  background: #1078CE;
  border: none;
  color: white;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  width: 200px;
  border-radius: 15px;
}

button.learn-more-btn {
  background: transparent;
  border: 1px solid #57A3E2;
  color: #57A3E2;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  margin-left: 10px;
}

.mechanical-insurance-content {
  display: flex;
  padding-top: 1em;
}

.photo {
  flex: 1;
}

.content {
  flex: 1;
  padding-right: 1em;
}

img.mechanic {
  width: 500px;
}

.mechanical-table {
  border-collapse: collapse;
  margin-left: 6em;
  width: 90%;
}

.mechanical-table tr {
  border-bottom: 1px solid #989898;
}

.mechanical-table tr:last-child {
  border-bottom: none;
}

.mechanical-table th {
  left: 0em;
  position: relative;
  text-align: left;
  padding: 30px 0 30px 0;
}

.car-insurance .policy img {
  width: 38px;
  position: relative;
  top: 12px;
}

.car-insurance .btn-container {
  display: flex;
  justify-content: flex-end;
  grid-gap: 11.5em;
  margin-right: 5em;
}

.car-insurance .policy {
  display: flex;
  justify-content: flex-end;
  margin-right: 6.5em;
  grid-gap: 16em;
}

.car-insurance .feature {
  padding: 20px 0 15px 0;
  font-weight: 700;
}