* {
  font-family: "Open Sans", sans-serif;
}

.App {
  max-width: 1600px;
  margin: auto;
}

.homepage-header {
  text-align: center;
}

.right-arrow {
  max-height: 44px;
  -ms-transform: rotateX(180deg) rotate(30deg);
  transform: rotateX(180deg) rotate(30deg);
  position: relative;
    top: 24px;
}

.left-arrow {
  max-height: 44px;
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  position: relative;
    top: 24px;
}

.heading-text {
  padding: 30px;
  color: #004681;
}

.homepage-btn-container .right-btn:not(:first-of-type) {
    border: 1px solid #004681 !important;
    color: #004681;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.homepage-btn-container .left-btn:not(:last-of-type) {
  border: 1px solid #004681;
  color: #004681;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.homepage-btn-container .right-btn.Mui-selected,
.homepage-btn-container .left-btn.Mui-selected
 {
  color: white !important;
  background-color: #004681 !important;
}

.homepage-btn-container button {
  width: 400px;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
}

@media only screen and (max-width: 1025px) {
  .homepage-btn-container button {
    width: 280px;
    font-size: 14px;
    font-weight: 700;
    height: 60px;
}

p.description {
  font-size: 14px;
}
}

