* {
    font-family: "Open Sans", sans-serif;
  }

.banner-img {
    width: 100%;
}

.text-box {
    text-align: left;
    float: left;
    bottom: 38em;
    left: 5em;
    position: absolute;
}

.btn-box button {
    font-weight: 600;
    height: 60px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}