* {
    font-family: "Open Sans", sans-serif;
  }

.banner-img {
    width: 100%;
}

.text-box {
    bottom: 42em;
    float: left;
    padding-left: 140px;
    position: absolute;
    text-align: left;
}

.btn-box button {
    font-weight: 600;
    height: 60px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}